@{
    ViewData["Title"] = "Avaliação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="VueBodyAssessment" class="container-fluid">
    <h1 class="m-0">Avaliação</h1>
</section>

