@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <style>
        thead {
            position: sticky;
            top: 0;
            background: white;
            z-index: 10;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra na parte inferior */
        }

        i{
            font-size: 15px;
        }

        #NotFoundLogo{
            font-size: 10rem;
        }

        #NotFoundText {
            font-size: 20px;
        }
    </style>
}

<section id="VueIndexUser" class="fw-bolder">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="m-0 text-black-50 justify-content-start">Usuários</h2>

        <button type="button" class="btn btn-primary btn-sm fw-bold d-flex justify-content-end align-items-center" v-on:click="RedirectPageRegister(QueryString.UserId)">
            <i class='bx bx-plus me-1'></i>
            <span>Adicionar usuário</span>
        </button>
    </div>

    <!-- Filters -->
    <nav class="mt-5">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active fw-bolder" id="nav-filter-tab" data-bs-toggle="tab" data-bs-target="#nav-filter" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Filtros</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-filter" role="tabpanel" aria-labelledby="nav-filter-tab">
            <div class="row mt-4">
                <div class="mb-3 col-3">
                    <label for="filterName" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="filterName" placeholder="Pesquisar..." v-model="Filters.Name">
                </div>
                <div class="mb-3 col-3">
                    <label for="filterName" class="form-label">Email</label>
                    <input type="text" class="form-control" id="filterName" placeholder="Pesquisar..." v-model="Filters.Email">
                </div>
            </div>
        </div>
    </div>

    <hr />

    <!-- Buttons -->
    <div class="d-flex justify-content-start align-items-center my-3">
        <button type="button" class="btn btn-primary btn-sm fw-bold d-flex align-items-center me-1" v-on:click="GetUser()">
            <i class='bx bx-search-alt me-1'></i>
            <span>Pesquisar</span>
        </button>
        <button type="button" class="btn btn-secondary btn-sm fw-bold d-flex align-items-center" v-on:click="ClearFilter()">
            <i class='bx bx-trash-alt me-1'></i>
            <span>Limpar</span>
        </button>
    </div>

    <!-- Content -->
    <div v-show="ListUser.length != 0">
        <span class="text-black-50">Total de usuários encontrados: {{ListUser.length}}</span>
        <div class="card text-center table-responsive border-0 shadow-lg">
            <table class="table table-hover table-borderless m-0">
                <thead class="shadow">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Editar</th>
                    </tr>
                </thead>
                <tbody class="table-bordless text-black-50">
                    <tr v-for="user in ListUser">
                        <td scope="col">{{user.name}}</td>
                        <td scope="col">{{user.email}}</td>
                        <td scope="col" class="d-flex justify-content-center align-content-center">
                            <button type="button" class="btn btn-primary btn-sm fw-bold d-flex align-items-center justify-content-center" v-on:click="RedirectPageRegister(user.userId)">
                                <i class='bx bx-edit me-1'></i>
                                <span>Editar</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Not Found -->
    <div v-if="ListUser.length == 0" class="d-flex flex-column align-items-center justify-content-center text-black-50 mt-5">
        <i class='bx bx-clipboard' id="NotFoundLogo"></i>
        <span class="mt-2" id="NotFoundText">Nenhum registro encontrado</span>
    </div>

</section>

@section Scripts {
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    ListUser: [],
                    Filters: {
                        Name: "",
                        Email: ""
                    },
                    QueryString: {
                        UserId: 0
                    }
                };
            },
            methods: {
                GetUser: function() {
                    var _this = this;

                    var l_Object = {
                        Name: _this.Filters.Name,
                        Email: _this.Filters.Email
                    };

                    axios.post('/User/GetUsers', l_Object, {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => {
                        _this.ListUser = result.data;
                    })
                    .catch(error => console.error('Erro ao consultar usuarios:', error));
                },

                ClearFilter: function (){
                    var _this = this;

                    _this.Filters.Name = "";
                    _this.Filters.Email = "";
                },

                RedirectPageRegister: function (p_UserId){
                    window.location.href = '@Url.Action("Register", "User")' + '?UserId=' + p_UserId;
                }
            }
        });
        app.mount("#VueIndexUser");
    </script>

}

