@{
    ViewData["Title"] = "Consultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="VueConsultation" class="container-fluid">
    <h1 class="m-0">Consultation</h1>
</section>

